.product-Info{float: right;width: 100%;border: 1px solid #ccc;margin-top: 10px;}
.Info-div{float: right; width:60px; padding: 5px;margin-left: 1%;}
.Info-div_img{ width:60px;margin-left:5px; padding: 5px;}
.Info-div-text{ float: right;  width: 68%; }
.Info-text{  float: right; margin-top: 8px; width: 100%;}
.Info-but{ float: right; padding-top: 10px;}

 
