

.accordion-text{
    width: 100%;
   margin-top: 50px;
   font-size: 23px;
   color: #000;
   font-weight: 500;
   text-align:center; 
   float: right;
   /* letter-spacing: .1rem; */
   margin-bottom: 20px;
    @media screen and (max-width: 1200px) {
     padding-right:  0px;
     font-size: 25px;
 
   }
   
   @media screen and (max-width: 785px) {
     padding-right:  0px;
     font-size: 15px;
     text-align:center; 
     font-weight: 500;


   }
 }



.accordion-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

  @media screen and (max-width: 785px) {
        width:90%;
        margin-right: 5%;

   
   
      }
    }
    
  
  .accordionContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 1.5;
    text-align:right; 

  }
  
  .accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    transition: background-color 0.4s;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
    text-align: right;
    border-radius: 5px;

  }
  
  .accordion:hover, .accordion.active {
    background-color: #f1f1f1;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease;
    color: #423939;
    line-height: 2;
  }
  
  .panel.active {
    max-height: 500px; /* Adjust this value based on content */
    
  }
  
  .panel p {
    margin: 15px 0;
    text-align:right; 

  }
  