.modal-note{
  margin-top: 5px;
  float: right;
  width: 100%;

  }
  .note {
      text-align: center;
      width: 100%;
      height: 60px;
      margin-right: 0;
      animation: toggleBorder 2s infinite;
      border: 3px solid transparent; /* Start with a transparent border */
      border-color: #9081f6; /* Actual border color */
      line-height: 20px;
  }
  
  @keyframes toggleBorder {
      0%, 100% {
          border-width: 2px; /* Visible border */
      }
      50% {
          border-width: 0; /* Hidden border */
      }
  }
  

  .option {
      position: relative;
      padding: 5px 10px 5px 0px;
      float: right;
      width: 100%;
    }
     

    .new-option {
      width: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
      margin-bottom: 5px;
    }
    
  
     
    
    .option_checked { 
      width: 40px; 
    }
    
    .checked {
      background-color: #9081f6;
      display: block;
      width: 17px;
      height: 17px;
      border: 1px solid #f4f4f4;
      border-radius: 50%;
      margin-left: 10px;
      margin-right: 10px;
    }
    
.unchecked{
   background-color: #c0c0c6;
   display: block;
   width: 17px;
   height: 17px;
   border: 1px solid #f4f4f4;
   border-radius: 50%;
   margin-left: 10px;
   margin-right: 10px;
 }




    .checked:hover { 
      background-color: #9081f6; 
    }
    
    .option_img { 
      width: 80px; 
    }
    
    .IMG {  
      width: 50px; 
    }
    
    .option_title {
      width: 70%;
      color: #333232;
      font-size: 1.2em;
      font-style: normal !important;
      font-weight: bold !important;
      text-transform: none;
      text-align: right;
      margin: 0;
      line-height: 1.2 !important;
      font-family: Montserrat, sans-serif;
    }
    
    .option_price { 
      width: 20%;  
      text-align: center; 
    }
    
    .first-price {
      color: #9081f6 !important;
      font-style: normal !important;
      font-weight: bold !important;
      margin-left: 0px;
      white-space: nowrap;
      overflow: hidden;
      /* margin-right: 5px; */
      font-size: 1em;
      width: 100%;
      display: block;
     }
    
    .second-price { 
      color: #989898 !important;
      font-style: normal !important;
      font-weight: normal !important;
      margin-left: 0px;
      white-space: nowrap;
      overflow: hidden;
      font-size: 1em;
      text-decoration: line-through !important;
      width: 100%;
      display: block;


    }
    
    @media screen and (max-width: 1200px) {
      .option_checked { width: 30px; }
      .checked { width: 15px; height: 15px; margin-left: 5px; margin-right: 5px; }
      .option_img { width: 60px; }
      .option_title { width: 65%; font-size: 1em; }
      .first-price, .second-price { font-size: 0.8em;  display: block; }
    }
    
    .google-business-top{
      margin-top: 15px;
      text-align: center;
      width: 100%;
      color:#45434e !important;
      float: right;
      margin-bottom: 15px;
    }

    .successMessage{
      margin-top: 15px;
      float: left;
      color: #fff;
      padding: 5px;
      text-align: center;
      width: 100%;
      background-color: #38c883;
      display: block;
   }

   .div-payment-button{display: block;  }
   .div-new-form-atc{ display: none; }

   @media screen and (max-width: 780px) {
     .option {
       position: relative;
       padding: 2px  0px 2px 0px;
       float: right;
       width: 100%;
     }
     .div-payment-button{display: none;  }
     .div-new-form-atc{ display: block; }
     .first-price, .second-price {   display: block; }
     .option_title { font-size: .8em;   }
     .note {font-size: .8em;height: 80px;}
   
   }