 


.main-wrapper{
    float: left;
    width: 100%;
    margin-top: 150px;
    @media (max-width: 768px) {
        margin-top: 150px;
        width:90%;  
        margin-left:5%;
        height:auto;
        margin-bottom: 50px;

    }
}
.Row1{  
        border-radius: 5px; 
        /* border: 1px solid #9081f6; */
        background-color: #fdffff;  
        padding: 10px;  
        /* box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; */
        width: 500px;
        margin: auto;
         @media (max-width: 768px) {
            width:100%;  
            border: 0px solid #58a58f;
            box-shadow: none;

        }
}
.Row2{
  
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 40%;
    float: left;
    z-index: 0;
    @media (max-width: 768px) {
        width:100%;  
    
    }
}
 
.TitlE {
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 1 ;
    padding-bottom: 0px;

    @media (max-width: 768px) {
       text-align: center;
    }
}
.login-form{
    margin-top:20px;
    width: 100%;
    padding: 10px;
 
    @media (max-width: 768px) {
        width:100%;  
        margin-left: 0px;
    }
}
.register-login-form{
    margin-top:  0px;
    width: 90%;
    margin-left: 8%;
    @media (max-width: 768px) {
        width:100%;  
        margin-left: 0px;
    }
}

.single-form { margin-top: 15px;} 

    

.single-form input:not([type="checkbox"]):not([type="radio"]), .single-form textarea {
    width: 100%;
    line-height: 2rem;
    padding: 0 20px;
    font-size: 12px;
    color: #52565b;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: 1px solid #9081f6;
    border-radius: 5px;
    background-color: #fff;
}

 
.BtnPrimary {
    margin-top: 15px;
    width: 100%;
    display: inline-block;
    font-weight: 300;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 0 solid transparent;
    padding:   1px;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background-color:#9081f6;
    
}
 
 
  .BtnPrimary:hover {
 background-color: #000;
    color: #ffffff;
  }