.center-Timer-row {
  width: 100%;
  display: flex;
  /* Ensure children elements are flex items */
  justify-content: space-between;
  padding: 10px;
  /* Add some padding for better spacing */
  box-sizing: border-box;
  /* Ensure padding doesn’t affect width */
}

.Timer-row {
  text-align: center;
  width: 18%;
  display: flex;
  flex-direction: column;
  /* Ensure content stacks vertically */
  margin-right: 0;
  border-radius: 8px;
  border: 1px solid #9081f6;
  padding: 12px;
  justify-content: center;
  /* Center content vertically */
  align-items: center;
  /* Center content horizontally */
}


.Timer-row-number {
  float: right;
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  color: #9081f6;

  @media screen and (max-width: 1200px) {
    font-size: 20px;
    font-weight: 700;

  }

  @media screen and (max-width: 785px) {
    font-size: 17px;
    font-weight: 700;

  }
}



.Timer-row-text {
  float: right;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;

  @media screen and (max-width: 1200px) {
    font-size: 20px;
  }

  @media screen and (max-width: 785px) {
    font-size: 12px;
  }
}